In [42]:
import pandas as pd
import numpy as np
import os

In [43]:
test = 'abc.xlsx'

print(test.split('.')[-1])

xlsx

In [44]:
file_paths = os.listdir('data')
file_paths

["ALL BOGA 18-01 DES'24.csv",
 "ALL KANTIN 18-01 DES'24.csv",
 "ALL WARKOP 18-01 DES'24.csv",
 "AR 18-01 DES'24.csv",
 "BC 18-01 DES'24.csv",
 "BC UM 18-01 DES'24.csv",
 "BG KAI 18-01 DES'24.csv",
 "BG RA 18-01DES'24.csv",
 "DJO GT 11 18-01 DES'24.csv",
 "DK 18-01 DES'24.csv",
 "FC 18-01 DES'24.csv",
 "GC A T2 18-01 DES'24.csv",
 "GC ATAS 18-01 DES'24.csv",
 "GC LUAR 18-01 DES'24.csv",
 "GC UM 18-01 DES'24.csv",
 "GJC 18-01 DES'24.csv",
 "GJC T2 18-01 DES'24.csv",
 'hasil-mutasi.xlsx',
 "KILLINEY 18-01 DES'24.csv",
 "KPP 18-01 DES'24.csv",
 "LA B 18-01 DES'24.csv",
 "PG 18-01 DES'24.csv",
 "RF3 18-01 DES'24.csv",
 "RF7 18-01 DES'24.csv",
 "SMOK 18-01 DES'24.csv",
 "SP 18-01 DES'24.csv"]

In [45]:
def read_data(path):
  if path.split('.')[-1] == 'csv':
    df = pd.read_csv(path)
    start = 0
    for i, id in enumerate(df[df.columns[0]]):
      if type(id) == str:
        if "tanggal" in id.lower():
          start = i
          break
          # print(outlet)
    df0 = pd.read_csv(path, skiprows=i+1)


  elif path.split('.')[-1] == 'xlsx':
    df = pd.read_excel(path)
    start = 0
    for i, id in enumerate(df[df.columns[0]]):
      if type(id) == str:
        if "tanggal" in id.lower():
          start = i
          break
 
    df0 = pd.read_excel(path, skiprows=i+1)

     
  df0 = df0[~df0[df0.columns[0]].str.contains('Saldo|Mutasi', case=False, na=False)]
  return df0

In [67]:
def cetak():
    hasil = []
    df_hasil = pd.DataFrame([[]])

    for file in file_paths:
        hasil = read_data("data/"+file)
        df_hasil = pd.concat([df_hasil, hasil], ignore_index=True)
        
        hapus_nilai = ["BIAYA ADM   ", "PAJAK BUNGA   ", 'BUNGA   ', "CR KOREKSI BUNGA"]
        df_hasil = df_hasil[~df_hasil[df_hasil.columns[1]].isin(hapus_nilai)]
        df_hasil = df_hasil.dropna(how="all")
        df_hasil.reset_index(drop=True, inplace=True)

    return df_hasil

In [68]:
df_hasil = cetak()
df_hasil

,Tanggal Transaksi,Keterangan,Cabang,Jumlah,"Saldo Akhir : 983,298,092.07",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,18/11/2024,KR OTOMATIS SETORAN JEMPUTAN BGL1617,973.0,"14,400,000.00 CR",NaN,NaN,NaN,NaN
1,18/11/2024,KR OTOMATIS SETORAN JEMPUTAN BGLB1617,973.0,"9,144,000.00 CR",NaN,NaN,NaN,NaN
2,18/11/2024,KR OTOMATIS SETORAN JEMPUTAN BGU1617,973.0,"14,043,000.00 CR",NaN,NaN,NaN,NaN
3,18/11/2024,KR OTOMATIS SETORAN JEMPUTAN BG91617,973.0,"19,904,000.00 CR",NaN,NaN,NaN,NaN
4,18/11/2024,KR OTOMATIS SETORAN JEMPUTAN BG51617,973.0,"16,639,000.00 CR",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1803,30/11/2024,KR OTOMATIS SETORAN JEMPUTAN SP29,973.0,"385,000.00 CR",NaN,NaN,NaN,NaN
1804,30/11/2024,CR KOREKSI BUNGA,0.0,78.75 CR,NaN,NaN,NaN,NaN
1805,1/12/2024,KR OTOMATIS TANGGAL :30/11 MID : 885001831918 ...,998.0,"14,340,306.00 CR",NaN,NaN,NaN,NaN
1806,1/12/2024,KARTU KREDIT MID:001831918 SANDANG PANGAN T1 ...,960.0,"2,395,449.00 CR",NaN,NaN,NaN,NaN
1807,1/12/2024,KR OTOMATIS MID : 885001831918 SANDANG PANGAN ...,998.0,"13,046,697.50 CR",NaN,NaN,NaN,NaN

In [66]:
df_hasil.iloc[1828]['Keterangan']

'BIAYA ADM   '